@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";

* {
    scroll-behavior: smooth;
}

body {
    font-family: "Nunito", sans-serif;
}

@theme {
    --color-soft-gray: #E8E8E8;
    --color-off-white: #FEFEFE;
    --color-on-white: #EFEFEF;
    --color-near-black: #010101;
    --color-mid-gray: #575757;
    --color-light-gray: #C1C1C1;
    --color-lighter-gray: #E1E1E1;
    --color-thunder: #4D4D4D;
    --color-muted-gray: #787878;
    --color-unmuted-gray: #5C5C5C;
    --color-light-orange: #FB8628;
    --color-clouded: #D1D1D166;
    --color-natural-white: #FCECE2;
    --color-black-tie: #474747;
    --color-ornery: #f67a21;
    --color-instant-orange: #FD8B2B;
    --color-snowbank: #E9E9E9;
    --color-disco-ball: #D5D5D5;
    --color-dark-gray: #373737;
    --color-muffin: #FADCC7;
    --color-brilliant: #545454;
    --color-silver: #EEEEEE;
}

.gradient-text {
    background: linear-gradient(85.95deg, #EC6112 1.54%, #FF902E 98.46%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.triple-border-gradient::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 0.5px;
    background: linear-gradient(85.93deg, #EC6112 1.55%, #FF902E 47.34%, rgba(254, 254, 254, 0) 90.56%);
    mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
    mask-composite: exclude;
}

.small-border-gradient::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px;
    background: linear-gradient(85.95deg, #EC6112 1.54%, #FF902E 98.46%);
    mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
    mask-composite: exclude;
}

.tab-btn-gradient {
    background: linear-gradient(85.95deg, #EC6112 1.54%, #FF902E 98.46%);
}

.btn-gradient {
    background: linear-gradient(85.95deg, #EC6112 1.54%, #FF902E 98.46%);
}

.btn-gradient:hover {
    background: linear-gradient(85.95deg, #d44d0a 1.54%, #e8751a 98.46%);
}

@media (max-width:1023.98px) {
    .nav-link {
        flex-direction: column;
        width: 100%;
        min-height: 100vh;
        position: fixed;
        justify-content: center;
        bottom: 0;
        right: -100% !important;
        top: 0%;
        transition: all 300ms ease-in-out !important;
        z-index: 3;
        align-items: center;
        background-color: white;
    }

    .show-navbar {
        right: 0 !important;
    }
}